{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>To Do</h2>
    <ul class="list-group mb-4">
      {% for item in view_model.todo_items %}
      <li class="list-group-item" style="text-align: left">
        {{ item.title }} - {{ item.last_modified.strftime("%d-%m-%Y") }}
        <div style="text-align: right">
          <form action="/doing_item/{{ item.id }}" method="POST" style="display:inline-block">
            <button class="btn btn-outline-secondary btn-sm" type="submit" id="make_doing_item">Doing</button>
          </form>
          <form action="/done_item/{{ item.id }}" method="POST" style="display:inline-block">
            <button class="btn btn-outline-success btn-sm" type="submit" id="make_done_item">Done</button>
          </form>
          <form action="/delete/{{ item.id }}" method="POST" style="display:inline-block">
            <button class="btn btn-outline-danger btn-sm" type="submit" id="delete">Delete Item</button>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
    <h2>Doing</h2>
    <ul class="list-group mb-4">
      {% for item in view_model.doing_items %}
      <li class="list-group-item list-group-item-secondary">
        {{ item.title }} - {{ item.last_modified.strftime("%d-%m-%Y") }}
        <div style="text-align: right">
          <form action="/done_item/{{ item.id }}" method="POST" style="display:inline-block">
            <button class="btn btn-outline-success btn-sm" type="submit" id="make_done_item">Done</button>
          </form>
          <form action="/delete/{{ item.id }}" method="POST" style="display:inline-block">
            <button class="btn btn-outline-danger btn-sm" type="submit" id="delete">Delete Item</button>
          </form>
        </div>
        </form>
      </li>
      {% endfor %}
    </ul>
    <h2>Done</h2>
    <ul class="list-group mb-4">
      {% for item in view_model.show_all_done %}
      <li class="list-group-item list-group-item-success">
        {{ item.title }} - {{ item.last_modified.strftime("%d-%m-%Y") }}
        <div style="text-align: right">
          <form action="/delete/{{ item.id }}" method="POST" style="display:inline-block">
            <button class="btn btn-outline-danger btn-sm" type="submit" id="delete">Delete Item</button>
          </form>
        </div>
      </li>
      {% endfor %}
    <details>
      <summary>Older Done Items</summary>
      {% for item in view_model.older_done_items %}
      <p>
        <li class="list-group-item list-group-item-success mb-4">
          {{ item.title }} - {{ item.last_modified.strftime("%d-%m-%Y") }}
          <div style="text-align: right">
            <form action="/delete/{{ item.id }}" method="POST" style="display:inline-block">
              <button class="btn btn-outline-danger btn-sm" type="submit" id="delete">Delete Item</button>
            </form>
          </div>
        </li>
        {% endfor %}
      </p>
    </details>
    </ul>
  </div>
</div>

<div>
  <h2>Add Item:</h2>
  <form action="/add" method="POST">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="submit" id="create_new_item">Add Item</button>
      </div>
      <input type="text" id="new_item_input" name="title" class="form-control" placeholder=""
        aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
  </form>
</div>
{% endblock %}