{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Items</h2>
    <ul class="list-group mb-4">
      {% for todo in todos %}
      <li class="list-group-item">
        {{ todo.title }} - {{ todo.status }}
        <a class="btn btn-outline-success btn-sm" href="/index/update/{{ todo.id }}" style="float: right">Mark Complete</a>
        <a class="btn btn-outline-danger btn-sm" href="/index/delete/{{ todo.id }}" style="float: right">Delete Item</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <form action="/index/add" method="POST">
    <ul>
      <label for='title'>Item:</label>
      <input type="text" id="title" name="title">
      <button type="submit">Add todo</button>
    </ul>
  </form>
</div>
{% endblock %}