{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <table id="outstanding" class="table table-borderless">
        {% for item in view_model.outstanding_items %}
          <tr>
            <td>
              <strong>{{ item.title }}</strong>
            </td>
            <td>
              <a href={{url_for("set_status", id=item.id, status='pending')}}>Start</a> | 
              <a href="/delete/{{item.id}}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </table>
      <table id="pending" class="table table-borderless">
        {% for item in view_model.pending_items %}
          <tr>
            <td>
              <strong>{{ item.title }}</strong>
            </td>
            <td>
              <a href={{url_for("set_status", id=item.id, status='outstanding')}}>Unstart</a> |
              <a href={{url_for("set_status", id=item.id, status='completed')}}>Complete</a> | 
              <a href="/delete/{{item.id}}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </table>
        {% if view_model.all_done_items|length < 6 %}
          <table id="done" class="table table-borderless">
            {% for item in view_model.all_done_items %}
              <tr class="table-dark">
                <td>
                  <strong>{{ item.title }}</strong>
                </td>
                <td>
                  <a href={{url_for("set_status", id=item.id, status='pending')}}>Restart</a> | 
                  <a href="/delete/{{item.id}}">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          <table id="done" class="table table-borderless">
            {% for item in view_model.recent_done_items %}
              <tr class="table-dark">
                <td>
                  <strong>{{ item.title }}</strong>
                </td>
                <td>
                  <a href={{url_for("set_status", id=item.id, status='pending')}}>Restart</a> | 
                  <a href="/delete/{{item.id}}">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </table>
          {% if view_model.older_done_items|length > 0 %}
            <details>
              <summary>Show Older</summary>
              <table id="archive" class="table table-borderless">
                {% for item in view_model.older_done_items %}
                  <tr class="table-dark">
                    <td>
                      <strong>{{ item.title }}</strong>
                    </td>
                    <td>
                      <a href={{url_for("set_status", id=item.id, status='pending')}}>Restart</a> | 
                      <a href="/delete/{{item.id}}">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </details>
          {% endif %}
        {% endif %}
      </table>

      <form method="post">
        <br>
        <label for="title">Title: </label>
        <br>
        <input id="title" name="title" required>
        <br>
        <label for="description">Description: </label>
        <br>
        <textarea id="description" name ="description" rows="4" cols="50"></textarea>
        <br>
        <br>
        <button id="submit-button" type="submit">Add item</button>
      </form>
    </div>
  </div>
{% endblock %}