{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <table class="table table-borderless">
        {% for item in view_model.outstanding_items %}
          <tr>
            <td>
              <strong>{{ item.title }}</strong>
            </td>
            <td>{{ item.status }}</td>
            <td>
              <a href={{url_for("set_status", id=item.id, status='pending')}}>Start</a>
            </td>
            <td>
              <a href="/delete/{{item.id}}">Delete</a>
            </td>
          </tr>
        {% endfor %}

        {% for item in view_model.pending_items %}
          <tr>
            <td>
              <strong>{{ item.title }}</strong>
            </td>
            <td>{{ item.status }}</td>
            <td>
              <a href={{url_for("set_status", id=item.id, status='outstanding')}}>Unstart</a> |
              <a href={{url_for("set_status", id=item.id, status='completed')}}>Complete</a>
            </td>
            <td>
              <a href="/delete/{{item.id}}">Delete</a>
            </td>
          </tr>
        {% endfor %}

        {% for item in view_model.completed_items %}
          <tr class="table-dark">
            <td>
              <strong>{{ item.title }}</strong>
            </td>
            <td>{{ item.status }}</td>
            <td>
              <a href={{url_for("set_status", id=item.id, status='pending')}}>Restart</a>
            </td>
            <td>
              <a href="/delete/{{item.id}}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </table>

      <form method="post">
        <br>
        <label for="title">Title: </label>
        <br>
        <input id="title" name="title" required>
        <br>
        <label for="description">Description: </label>
        <br>
        <textarea id="description" name ="description" rows="4" cols="50"></textarea>
        <br>
        <br>
        <button type="submit">Add item</button>
      </form>
    </div>
  </div>
{% endblock %}